<h3>All Restaurants</h3>

  <ul>
  <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %>, <%= "#{restaurant.city} (#{restaurant.state})" %></li>
  <% end %>
  </ul>


  <%= link_to "Add New Resaurnt", new_restaurant_path, :class => "button"  %>

